<h1>Listing messports</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Sport</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messports.each do |messport| %>
  <tr>
    <td><%= messport.email %></td>
    <td><%= messport.sport %></td>
    <td><%= link_to 'Show', messport %></td>
    <td><%= link_to 'Edit', edit_messport_path(messport) %></td>
    <td><%= link_to 'Destroy', messport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Messport', new_messport_path %>
