<h1>Tennis</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Classementactuel</th>
    <th>Meilleurclassement</th>
    <th>Datemeilleurclassement</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tennis.each do |tenni| %>
  <tr>
    <td><%= tenni.email %></td>
    <td><%= tenni.classementactuel %></td>
    <td><%= tenni.meilleurclassement %></td>
    <td><%= tenni.datemeilleurclassement %></td>
    <td><%= tenni.points %></td>
    <td><%= link_to 'Show', tenni %></td>
    <td><%= link_to 'Edit', edit_tenni_path(tenni) %></td>
    <td><%= link_to 'Destroy', tenni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenni', new_tenni_path %>
