<p id="notice"><%= notice %></p>

<p>
  <b>Email1:</b>
  <%= @ami.email1 %>
</p>

<p>
  <b>Email2:</b>
  <%= @ami.email2 %>
</p>


<%= link_to 'Edit', edit_ami_path(@ami) %> |
<%= link_to 'Back', amis_path %>
